#fiveDayWeather li {
    list-style: none;
}
#fiveDayWeather {
    justify-content: space-between;
    border: 0;
}
#fiveDayWeather div {
    border: 0;
    background-color: lightblue;
    box-shadow: rgba(255, 255, 255, 0.5);
    line-height: 2;
}
#weatherIcon i {
    font-size: 15px;
}
.yellowBg {
    background-color: yellow;
}
.orangeBg {
    background-color: orange;
}